body {
  font-family: "Source Code Pro", monospace;
  line-height: 1.3;
  background-color: aliceblue;
}

main {
  padding: 20px;
  max-width: 1000px;
  margin: 20px auto;
}

img {
  max-width: 100%;
  height: auto;
}

#footer,
#highlighted-footer {
  padding: 20px;
  text-align: center;
  margin: 20px auto;
}

#highlighted-footer {
  background-color: aliceblue;
}

#header {
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.1em;
  font-style: bold;
}

h5 {
  font-size: 1.1em;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}

#orfelia-page {
  background-color: black;
  color: rgba(100, 200, 100);
}

#orfelia-page a {
  color: white;
}

#orfelia-page .orfelia-logo {
  max-width: 200px;
}

#orfelia-page .messsy-logo {
  max-width: 150px;
}

#orfelia-page .page-header,
#orfelia-page .page-header .events {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.image-aside {
  max-width: 30vw;
}
.image-aside.left {
  float: left;
}
.image-aside.right {
  float: right;
}

@media screen and (max-width: 600px) {
  #orfelia-page .page-header {
    flex-direction: column;
  }

  .image-aside.left,
  .image-aside.right {
    float: none;
    max-width: none;
  }
}

#orfelia-page .container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
